* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(191, 255, 210);
  background: rgb(52, 53, 58);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  width: 100vw;
  height: 100vh;
}

#box {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 20px;
  background: rgb(28, 51, 25);
  width: 700px;
  height: 300px;
}